.sup-container-scene-three {
    background-image: url('../../assets/bg3.png');
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}