.img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-content {
  display: flex;
  justify-content: center;
  font-weight: bold;
  position: fixed;
  top: 5px;
  width: 100%;
  z-index: 99999999;
  padding-top: 5px;
}

.project-name {
  z-index: 99999999;
  display: flex;
  justify-content: center;
  font-weight: bold;
  position: fixed;
  top: 5px;
  width: 100%;
  padding-top: 25px;
}

.location {
  font-size: 10px;
  color: white;
}

.current-time {
  font-size: 10px;
  color: white;
}

.smiley {
  width: 50px;
  height: 50px;
  background: rgb(203, 203, 203);
  border-radius: 50%;
  opacity: 0.88;
  border: 1px solid white;
  box-shadow: 0px 1px 3px rgb(81, 81, 81);
  transition: background-color 0.25s ease-out; // ajout de la transition
}

.menu {
  width: 35px;
  height: 35px;
  background: rgb(235, 235, 235);
  border-radius: 50%;
  opacity: 0.88;
  border: 1px solid white;
  box-shadow: 0px 1px 3px rgb(81, 81, 81);
}

.toolbar-header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 5px;
  height: 100%;
  z-index: 99999999;
  width: 8%;
  align-items: center;
}

.gradient-bar {
  width: 20px;
  height: 70%;
  background: linear-gradient(293deg, #c26117, #e0dbf7, #3e79b3, #752e40);
  background-size: 360% 360%;
  animation: gradient-animation 10s ease infinite;
  border-radius: 20px;
  opacity: 0.88;
  background-size: 100% 300%;
}

@keyframes gradient-animation {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

.sup-header-container {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
}

.dark-button {
  background-color: darkgray;
}

.light-button {
  background-color: lightgray;
}

/* Styles pour les écrans de petite taille (ex : téléphones) */
@media (max-width: 600px) {
  .sup-header-container,
  .toolbar-header {
    display: none;
  }
}

.emoji {
  font-size: x-large;
}

.logogo {
  width: 35%;
  cursor: pointer;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.scroll-indicator {
  position: absolute;
  bottom: 20px; /* Ajustez en fonction de votre mise en page */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 30px; /* Taille de la flèche */
  height: 30px; /* Taille de la flèche */
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-20px) rotate(45deg);
  }
  60% {
    transform: translateY(-10px) rotate(45deg);
  }
}
