.sup-container-scene-two {
    background-image: url('../../assets/bg2.png');
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}